In [ ]:
import ibm_db

In [ ]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "mlr00432"        # e.g. "dash104434"
dsn_pwd = "dk7^5b2xw5ct0jx2"

In [ ]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

In [ ]:
try:
    conn = ibm_db.connect(dsn, "","")
    print("Connencted")
    
except:
    print("Unable to connect")

In [ ]:
dropquery = "drop table INSTRUCTOR"

In [ ]:

dropstmt = ibm_db.exec_immediate(conn, dropquery)

In [ ]:
createquery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20) NOT NULL , LNAME VARCHAR(20) NOT NULL)"
createstmt = ibm_db.exec_immediate(conn, createquery)

In [ ]:
altquery = "ALTER table INSTRUCTOR Add CITY VARCHAR(20)"
altstmt = ibm_db.exec_immediate(conn, altquery)

In [ ]:
altquery = "ALTER table INSTRUCTOR Add country CHAR(2)"
altstmt = ibm_db.exec_immediate(conn, altquery)

In [ ]:
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [ ]:
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [ ]:
selectquery = "Select * from instructor"

In [ ]:
selectstmt = ibm_db.exec_immediate(conn, selectquery)

In [ ]:
ibm_db.fetch_both(selectstmt)

In [40]:
while ibm_db.fetch_row(selectstmt) != False:
    print("ID:", ibm_db.result(selectstmt, 0), "Fname:", ibm_db.result(selectstmt, "FNAME"))

ID: 2 Fname: Raul
ID: 3 Fname: Hima

In [41]:
updatequery = "update INSTRUCTOR set city = 'moosetown' where fname = 'Ravi'"
updatestmt = ibm_db.exec_immediate(conn, updatequery)

In [43]:
#now let's use pandas for same thing
import pandas as pd
import ibm_db_dbi as idb

In [45]:
#connections for pandas
pconn = idb.Connection(conn)

In [48]:
selectq = "select * from instructor"
pdf = pd.read_sql(selectq, pconn)

pdf.LNAME[0]

'Ahuja'

In [49]:
pdf

   ID FNAME      LNAME     CITY COUNTRY
0   1   Rav      Ahuja  TORONTO      CA
1   2  Raul      Chong  Markham      CA
2   3  Hima  Vasudevan  Chicago      US

In [50]:
pdf.shape

(3, 5)

In [51]:
ibm_db.close(conn)

True